<mat-card-title>
  {{menu.name}}
</mat-card-title>

<form>
  <p>
    <mat-form-field>
      <mat-select placeholder="Jugador"
      name="jugador" #jugador="ngModel" [(ngModel)]="data">
        <mat-option *ngFor="let jugador of jugadores" [value]="jugador">
          {{jugador.nickname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input matInput placeholder="Nombre"
      name="nombre" #nombre="ngModel" type="text" [(ngModel)]="data.nombre" disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Apellidos"
      name="apellidos" #apellidos="ngModel" type="text" [(ngModel)]="data.apellidos" disabled>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field>
      <input matInput placeholder="Nickname"
      name="nickname" #nickname="ngModel" type="text" [(ngModel)]="data.nickname" disabled>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field>
      <input matInput placeholder="Correo Electronico"
      name="email" #email="ngModel" type="email" [(ngModel)]="data.email" disabled>
    </mat-form-field>
  </p>
      
  <p>
    <mat-form-field>
      <input matInput placeholder="Fecha de Nacimiento"
      name="fechaNacimiento" #fechaNacimiento="ngModel" type="date" [(ngModel)]="data.fechaNacimiento" disabled>
    </mat-form-field>
  </p>
  
  <div>
    <button mat-flat-button type="button" routerLink="/menu">Atrás</button>
  </div>

</form>