<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="flex-start">
  <div>
    <mat-card>
      <mat-card-title>
        <button mat-button style="font-size:25px" [routerLink]="menu.getRoute()">
            {{menu.getName()}}
        </button>
      </mat-card-title>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let subMenu of menu.getOptions()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{subMenu.getName()}}
            </mat-panel-title>  
          </mat-expansion-panel-header>
            
            <mat-chip [routerLink]="subMenu.getRoute()" selected [color]="accent"
            *ngIf="subMenu.getOptions()==null" (click)="selectMenu(subMenu)">
              {{subMenu.getName()}}
            </mat-chip>

            <mat-chip-list class="mat-chip-list-stacked">
              <mat-chip *ngFor="let option of subMenu.getOptions()" [routerLink]="option.getRoute()"
              selected [color]="accent" (click)="selectMenu(option)">
                {{option.getName()}}
              </mat-chip>
            </mat-chip-list>

        </mat-expansion-panel>
      </mat-accordion>      
    </mat-card>
  </div>

  <div >
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
