<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="flex-start">
  <div>
    <mat-card>
      <mat-card-title>
        <button mat-button style="font-size:25px" [routerLink]="menu.route">
            {{menu.name}}
        </button>
      </mat-card-title>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let subMenu of menu.options">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{subMenu.name}}
            </mat-panel-title>  
          </mat-expansion-panel-header>
            
            <mat-chip [routerLink]="subMenu.route" selected [color]="accent"
            *ngIf="subMenu.options==null" (click)="selectMenu(subMenu)">
              {{subMenu.name}}
            </mat-chip>

            <mat-chip-list class="mat-chip-list-stacked">
              <mat-chip *ngFor="let option of subMenu.options" [routerLink]="option.route"
              selected [color]="accent" (click)="selectMenu(option)">
                {{option.name}}
              </mat-chip>
            </mat-chip-list>

        </mat-expansion-panel>
      </mat-accordion>      
    </mat-card>
  </div>

  <div>
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
