<form>
    <p>
      <mat-form-field>
        <input matInput placeholder="Título"
        name="titulo" #titulo="ngModel" type="text" [(ngModel)]="dlc.titulo">
      </mat-form-field>
    </p>
  
    <p>
      <mat-form-field>
        <textarea matInput placeholder="Descripción"
        name="descripcion" #descripcion="ngModel" type="text" [(ngModel)]="dlc.descripcion">
        </textarea>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput placeholder="Videojuego"
        name="videojuego" #videojuego="ngModel" type="text" [(ngModel)]="dlc.videojuego">
      </mat-form-field>
    </p>

    <div>
        <button mat-button routerLink="/menu">Cancelar</button>
        <button mat-flat-button>Aceptar</button>
    </div>
  
  </form>