<mat-card-title>
  {{menu.name}}
</mat-card-title>

<form novalidate #Form="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <input matInput placeholder="Nombre"
        name="nombre" #nombre="ngModel" type="text" [(ngModel)]="data.nombre" required>
        <mat-error *ngIf="nombre.errors?.required">Campo obligatorio</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Apellidos"
        name="apellidos" #apellidos="ngModel" type="text" [(ngModel)]="data.apellidos" required>
        <mat-error *ngIf="apellidos.errors?.required">Campo obligatorio</mat-error>
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <input matInput placeholder="Nickname"
        name="nickname" #nickname="ngModel" type="text" [(ngModel)]="data.nickname" required>
        <mat-error *ngIf="nickname.errors?.required">Campo obligatorio</mat-error>
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <input matInput placeholder="Correo Electronico"
        name="email" #email="ngModel" type="email" [(ngModel)]="data.email" required>
        <mat-error *ngIf="email.errors?.required">Campo obligatorio</mat-error>
      </mat-form-field>
    </p>
        
    <p>
      <mat-form-field>
        <input matInput placeholder="Fecha de Nacimiento"
        name="fNacimiento" #fNacimiento="ngModel" type="date" [(ngModel)]="data.fNacimiento" required>
        <mat-error *ngIf="fNacimiento.errors?.required">Campo obligatorio</mat-error>
      </mat-form-field>
    </p>
    
    <div>
      <button mat-button type="button" routerLink="/menu">Cancelar</button>
      <button mat-flat-button [disabled]="Form.form.invalid" type="submit">Aceptar</button>
    </div>
  
  </form>
  