<mat-card-title>
    {{name}}
</mat-card-title>

<form novalidate (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <input matInput placeholder="Título"
        name="titulo" #titulo="ngModel" type="text" [(ngModel)]="videojuego.titulo">
      </mat-form-field>
    </p>
  
    <p>
      <mat-form-field>
        <textarea matInput placeholder="Descripción"
        name="descripcion" #descripcion="ngModel" type="text" [(ngModel)]="videojuego.descripcion">
      </textarea>
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <mat-select placeholder="Género"
        name="genero" #genero="ngModel" type="text" [(ngModel)]="videojuego.genero">
          <mat-option *ngFor="let genero of generos" [value]="genero">
            {{genero}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-select placeholder="Dispositivo"
        name="dispositivo" #dispositivo="ngModel" type="text" [(ngModel)]="videojuego.dispositivo">
          <mat-option *ngFor="let dispositivo of dispositivos" [value]="dispositivo">
            {{dispositivo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    
    <div>
      <span>
        <button mat-button routerLink="/menu">Cancelar</button>
      </span>
      <span >
        <button type="submit" mat-flat-button>Aceptar</button>
      </span>
    </div>
  
  </form>
  