<form novalidate (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <input matInput placeholder="Título">
      </mat-form-field>
    </p>
  
    <p>
      <mat-form-field>
        <textarea matInput placeholder="Descripción"></textarea>
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <mat-select placeholder="Dificultad">
          <mat-option *ngFor="let dificultad of dificultades" [value]="dificultad">
            {{dificultad}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput placeholder="Videojuego">
      </mat-form-field>
    </p>
    
    <p> 
      <button type="submit" mat-flat-button>Guardar Cambios</button>
    </p>
  
  </form>
  