<mat-card-title>
  {{menu.name}}
</mat-card-title>

<form novalidate #Form="ngForm" (ngSubmit)="onSubmit(); Form.resetForm();">
    <p>
      <mat-form-field>
        <input matInput placeholder="Título"
        name="titulo" #titulo="ngModel" type="text" [(ngModel)]="data.titulo" required>
        <mat-error *ngIf="titulo.errors?.required">Campo obligatorio</mat-error>
      </mat-form-field>
    </p>
  
    <p>
      <mat-form-field>
        <textarea matInput placeholder="Descripción"
        name="descripcion" #descripcion="ngModel" type="text" [(ngModel)]="data.descripcion" required>
      </textarea>
      <mat-error *ngIf="descripcion.errors?.required">Campo obligatorio</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-select placeholder="Videojuego"
        name="videojuego" #videojuego="ngModel" [(ngModel)]="data.videojuego" required>
        <mat-option *ngFor="let videojuego of videojuegos" [value]="videojuego._id">
          {{videojuego.titulo}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="videojuego.errors?.required">Campo obligatorio</mat-error>
      </mat-form-field>
    </p>

    <div>
        <button mat-button type="button" routerLink="/menu">Cancelar</button>
        <button mat-flat-button [disabled]="Form.form.invalid" type="submit">Aceptar</button>
    </div>
  
  </form>