<form novalidate (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <input matInput placeholder="Nombre">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Apellidos">
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <input matInput placeholder="Nickname">
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <input matInput placeholder="Correo Electronico">
      </mat-form-field>
    </p>
        
    <p>
      <mat-form-field>
        <input matInput placeholder="Fecha de Nacimiento">
      </mat-form-field>
    </p>
    
    <p> 
      <button type="submit" mat-flat-button>Guardar Cambios</button>
    </p>
  
  </form>
  