<mat-card-title>
  {{menu.name}}
</mat-card-title>

<form novalidate #Form="ngForm">
  
  <p>
    <mat-form-field>
      <mat-select placeholder="Videojuego"
      name="videojuego" #videojuego="ngModel" [(ngModel)]="selectedVideojuego" (selectionChange)="showJugadores()"required>
      <mat-option *ngFor="let videojuego of videojuegos" [value]="videojuego._id" >
        {{videojuego.titulo}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="videojuego.errors?.required">Campo obligatorio</mat-error>
    </mat-form-field>
  </p>
  

  <mat-list>
    <mat-list-item *ngFor="let jugador of jugadores">
      {{jugador.nickname}}
    </mat-list-item>
  </mat-list>

  <div>
    <button mat-flat-button type="button" routerLink="/menu">Atrás</button>       
  </div>

</form>